<!-- Map -->
    <div id="contact" class="map row location-section">
    	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-6 col-xs-6">
    		<img src="/img/map.jpg" class="img-responsive">
    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-6 col-xs-6 location-color">
    		<h2>Location</h2>
            <p class="h3">123 Somewhere In Chicago, IL 60600</p>
            <p class="h3">+1 (800) U-Call-Us</p>
    	</div>
    </div>

<!--
        <div class="row location-section">
            <div class="col-xs-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2969.8467405882943!2d-87.655671!3d41.896153!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd32ad5c730d9%3A0xae7a3d23043ca2ef!2sPie-Eyed+Pizzeria!5e0!3m2!1sen!2sus!4v1396381060305" width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="col-xs-5">
                <div class="dark-trans">
                    <br>
                    <h3>
                        Get. Pizza.
                    </h3><a href="tel://312-730-7074" class="call">1111 W. Chicago</a><br>
                    <a href="tel://312-730-7074" class="call">Chicago, IL 60642</a><br>
                    <h3>
                        Call Us
                    </h3><a href="tel://312-730-7074" class="call">(312) CHEESE-5</a><br>
                    <a href="tel://312-730-7074" class="call">(312) 243-3735</a><br>
                </div>
            </div>
        </div> -->
<!-- /Map -->