<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B Yoga Chicago</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
	{{> nav}}
	{{> social_media}}
    {{{body}}}

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-md-12 text-center social_media">
                <p class="h4">+1 (800) U-Call-Us | B Yoga Chicago &copy; 2014</p>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/botboot.js"></script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/parsley.js"></script>
    <script src="/js/responsive.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
