    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
	        <div class="logo-image">
	            <img src="./img/m_byoga.jpg">
	        </div>
            <a href="/classes" class="btn btn-default btn-lg btn-over cta">Classes</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Mission -->
    <div id="mission" class="mission">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Mission</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <div class="lead">
                        <p>B Yoga is Body. Breath. Balance. B Yoga was created to provide complete mind, body and spirit inspired yoga instruction in a heated studio. A team of passionate and proficent teachers will convey this integrated approach during each practice.</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <!-- /Mission -->

    {{> paralax}}

    <!-- About -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Studio</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <div class="lead">
                        <p>We can optionally display our studio information here as well but for now we'll have an on page link and below is a map. We can leave the map here or we can move it to the Our Studio sub tab so potential clients will know where the studio is located.</p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <!-- /About -->

    {{> map}}